[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wang (Sephirothic)
[access "refs/for/refs/*"]
	read = group user/wang (Sephirothic)
	push = group user/wang (Sephirothic)
	label-Code-Review = -2..+2 group user/wang (Sephirothic)
	label-Verified = -1..+1 group user/wang (Sephirothic)
	rebase = group user/wang (Sephirothic)
	removeReviewer = group user/wang (Sephirothic)
	submit = group user/wang (Sephirothic)
[access "refs/heads/*"]
	read = group user/wang (Sephirothic)
	create = group user/wang (Sephirothic)
	push = +force group user/wang (Sephirothic)
	pushMerge = group user/wang (Sephirothic)
[access "refs/tags/*"]
	push = +force group user/wang (Sephirothic)
	pushTag = group user/wang (Sephirothic)
	pushSignedTag = group user/wang (Sephirothic)
